div#content
	div
		h2 Thanks! You just purchased your xltest
		h3 You'll receive an email with the .xlsx file
		h3 Hope you have a great time, fellow excel nerd
		h3 Here are the details of your purchase

		p #{purchaseId}
		p #{name}
		p #{email}
		p #{network}
		p #{card}